html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	height: 100dvh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}

main{
	border: 1px solid;
	height: auto;
	width: 300px;
	padding: 1em;
	border-radius: 10px;
	background: #fff;
}

.display{
	font-size: 20pt;
	height: 50px;
	background: white;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.25em;
	background: #d1d3ae;
	border-radius: 5px;
}

.button-container{
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

button{
	min-width: 50px;
	min-height: 50px;
	font-size: 15pt;
	flex: auto;
}
footer{
	font-size: 10pt;
	text-align: right;
}

a{font-weight: bold;}