html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	height: 100dvh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}

main{
	height: auto;
	width: 300px;
	padding: 1.25em;
	border-radius: 10px;
	background: #fff;
}

.display{
	font-size: 20pt;
	height: 50px;
	text-align: right;
	display: flex;
	align-items: center;
	justify-content: flex-end;
	padding: 0.25em;
	background: whitesmoke;
	border-radius: 5px;
}

.button-container{
	display: flex;
	flex-wrap: wrap;
	gap: 0.5em;
}

button{
	min-width: 50px;
	min-height: 50px;
	font-size: 15pt;
	flex: auto;
	background: ghostwhite;
	border: 0;
	outline: 0;
	border-radius: 8px;
}
footer{
	font-size: 10pt;
	text-align: right;
}

a{
	font-weight: bold;
	color: black;
}

.accessories{
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.accessories .container {
	display: flex;
	gap: 1px;
}

.accessories .item{
	background: black;
	height: 40px;
	width: 40px;
}

.accessories .item:first-child{
	border-top-left-radius: 5px;
	border-bottom-left-radius: 5px;
}

.accessories .item:last-child{
	border-top-right-radius: 5px;
	border-bottom-right-radius: 5px;
}