html{
	box-sizing: border-box;
}

*, *::before, *::after{
	box-sizing: inherit;
}

body{
	max-height: 100dvh;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background: whitesmoke;
}

main{
	border: 1px solid;
	height: 300px;
}